.default-btn {
  width: 100%;
  padding: 1.8rem 2.8rem;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 10rem;
  font-size: 2rem;
  font-weight: $fw-bold;

  &:hover {
    border-color: $c-main-yellow;
    background-color: $c-main-yellow;
    color: #404040;
  }
}