html {
	line-height: 1.2;
	font-size: 62.5%;
}

body {
	font-weight: $fw-normal;
	color: $c-black;
	-webkit-font-smoothing: antialiased;

	@include font-main;

	&.lock-screen {
		overflow: hidden;
		height: 100%;
	}

	.visible-item {
		visibility: visible;
		opacity: 1;
	}
	
	.hidden-item {
		visibility: hidden;
		opacity: 0;
	}

	@include respond-to('medium') {
    &.side-menu-open {
			overflow: hidden;
			height: 100%;
		}
  }
}

.wrap {
	overflow-x: hidden;
}

.inner {
  display: flex;
  position: relative;
  width: 80%;
  max-width: 106rem;
  height: 100%;
  margin: auto;

	@include respond-to('medium') {
    width: 100%;
		padding: 0 2rem;
  }
}

.text-hidden {
  overflow: hidden;
  border: 0;
  position: absolute;
  z-index: -1;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}

.pc {
	@include respond-to('medium') {
    display: none;
  }
}

.mobile {
	display: none;

	@include respond-to('medium') {
    display: block;
  }
}