.habits-section {
  height: 62rem;
  background: url('../images/habits/background2.png') no-repeat center;
  background-size: cover;
  color: #fff;

  @include respond-to('medium') {
    height: 36rem;
    background-position: left 55% bottom;
  }
  
  .inner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  p {
    line-height: 7rem;
    font-size: 5rem;
    font-weight: $fw-bold;

    @include respond-to('medium') {
      font-size: 2.5rem;
    }
  }
}

.habits-bi {
  width: 100%;
  height: 5.4rem;
  background: url('../images/habits/BI_2.png') no-repeat center;

  @include respond-to('medium') {
    margin-bottom: -2.5rem;
  }
}