%child-dot {
  content: '';
  position: absolute;
  right: -1rem;
  bottom: 0.5rem;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-color: $c-main-yellow;
}

%input {
  padding: 1.3rem 1.2rem;
  background-color: #161616;
  border: 1px solid #242424;
  border-radius: 0.8rem;
  line-height: 1.8rem;
  font-size: 1.6rem;
  color: $c-dark-white;

  @include font-main;
}