// font-weight
$fw-bold: 700;
$fw-thick: 500;
$fw-normal: 400;
$fw-light: 300;
$fw-thin: 200;

// color
$c-black: #070707;
$c-sub-black: #111;
$c-main-yellow: #ffdc00;
$c-light-purple: #6268ff;
$c-gray: #717883;
$c-light-gray: #e0e0e0;
$c-dark-white: #f2f2f2;

// z-index
$z-loading: 999;
$z-header: 100;
$z-gradient: 1;
$z-section: 0;
$z-background: -1;