// font-weight
$fw-bold: 700;
$fw-normal: 300;
$fw-lignt: 200;

// color
$c-black: #070707;
$c-main-yellow: #ffdc00;
$c-gray: #717883;

// z-index
$z-loading: 999;
$z-header: 100;
$z-section: 0;
$z-background: -1;