<footer>
  <div class="inner">
    <figure class="footer-bi">
      <span class="text-hidden">kakaoVX</span>
    </figure>
    <dl class="l-company-info">
      <dt>대표이사</dt>
      <dd>문태식</dd>
      <dt class="company-number">사업자 등록 번호</dt>
      <dd>144-81-03460</dd>
      <dt class="break-column"></dt>
      <dt>주소</dt>
      <dd><address>경기도 성남시 분당구 판교로 228번길 17 판교세븐벤처밸리2 제1동 4층</address></dd>
      <dt class="break-column"></dt>
      <dt>고객센터</dt>
      <dd>ht.help@kakaoht.com</dd>
    </dl>
    <p class="l-copyright">Copyright ⓒ Kakao VX Corp. All rights reserved.</p>
    <div class="l-sns">
      <a href="#none"><img src="images/footer/blog.png" alt="블로그"></a>
      <a href="#none"><img src="images/footer/instagram.png" alt="인스타그램"></a>
      <a href="#none"><img src="images/footer/web.png" alt="페이스북"></a>
      <a href="#none"><img src="images/footer/youtube.png" alt="유튜브"></a>
    </div>
  </div>
</footer>