<header>
  <div class="inner">
    <h1 class="l-logo">
      <a href="#none"><span class="text-hidden">스마트홈트</span></a>
    </h1>
    <nav class="l-gnb pc">
      <ul>
        <li>
          <a href="#service" class="js-nav-link">서비스 소개</a>
        </li>
        <li>
          <a href="#question" class="js-nav-link">제휴문의</a>
        </li>
        <li>
          <a href="#none">다운로드</a>
        </li>
      </ul>
      <span class="copyright mobile">ⓒ Kakao VX Corp.</span>
    </nav>
    <div class="l-menu-btn mobile">
      <button type="button" class="menu-btn js-menu-btn"></button>
    </div>
  </div>
</header>